@import "variable.scss";
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
body, html{
	line-height: 1;
	font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
	user-select:none;
	-webkit-tap-highlight-color:transparent;
	background:$color-background;
	color:$color-text;
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE 10+ */
	
}
html::-webkit-scrollbar {
		/* WebKit */
		width: 0;
		height: 0;
}
